{% extends "mysite/layout.html" %}
{%  load static %}


{% block content %}

    <!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">Blogs</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{% static "mysite/images/illustrations/page-title.png" %}" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{% static "mysite/images/illustrations/leaf-pink-round.png" %}" alt="illustrations" class="bg-shape-2">
  <img src="{% static "mysite/images/illustrations/dots-cyan.png" %}" alt="illustrations" class="bg-shape-3">
  <img src="{% static "mysite/images/illustrations/leaf-orange.png" %}" alt="illustrations" class="bg-shape-4">
  <img src="{% static "mysite/images/illustrations/leaf-yellow.png" %}" alt="illustrations" class="bg-shape-5">
  <img src="{% static "mysite/images/illustrations/dots-group-cyan.png" %}" alt="illustrations" class="bg-shape-6">
  <img src="{% static "mysite/images/illustrations/leaf-cyan-lg.png" %}" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">

        {% for blogs_data in blogs %}
        <div class="col-lg-4 col-sm-6 mb-4">
          <article class="card shadow">
            <img class="rounded card-img-top" src="{{  blogs_data.image.url }}" alt="post-thumb">
            <div class="card-body">
              <h4 class="card-title"><a class="text-dark" href="{% url "mysite:blog-detail" blogs_data.id %}">{{ blogs_data.title }}</a>
              </h4>
              <p class="cars-text">{{ blogs_data.description|slice:"0:200" |safe }}</p>
              <a href="{% url "mysite:blog-detail" blogs_data.id %}" class="btn btn-xs btn-primary">Read More</a>
            </div>
          </article>
        </div>
        {% endfor %}


    </div>
  </div>
</section>
<!-- /blog -->

{% endblock %}

