{% load static %}

<!-- contact -->
<section class="section section-on-footer" data-background="{% static "mysite/images/backgrounds/bg-dots.png" %}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Info</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <h4 class="mb-80">Contact Form</h4>
          <form action="{% url "mysite:contact"  %}" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4"
                placeholder="Type Message Here"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{ portal_contact_email }} </p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">{{ portal_contact_phone }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">{{ portal_contact_address }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright @<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script>
{#        a theme by <a href="https://themefisher.com">themefisher.com</a>#}
    </p>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="{% static "mysite/plugins/jQuery/jquery.min.js" %}"></script>
<!-- Bootstrap JS -->
<script src="{% static "mysite/plugins/bootstrap/bootstrap.min.js" %}"></script>
<!-- slick slider -->
<script src="{% static "mysite/plugins/slick/slick.min.js" %}"></script>
<!-- filter -->
<script src="{% static "mysite/plugins/shuffle/shuffle.min.js" %}"></script>

<!-- Main Script -->
<script src="{% static "mysite/js/script.js" %}"></script>

</body>
</html>